<div class="container">
  <h2>User Settings</h2>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" class="form-control" [(ngModel)]="userSettings.name"
       required
       #nameField="ngModel"
       [class.field-error]="form.submitted && nameField.invalid"
       (blur)="onBlur(nameField)">
       <div [hidden]="!form.submitted || nameField.valid" class="alert alert-danger">
         Enter a name
       </div>
    </div>
    <button type="button" class="btn btn-primary" name="singleModel"
      [(ngModel)]="singleModel" btnCheckbox
      btnCheckboxTrue="On" btnCheckboxFalse="Off">
      {{singleModel}}
    </button>

    
    <div class="form-check form-group">
      <input class="form-check-input" type="checkbox" value="" id="emailOffers" name="emailOffers" [(ngModel)]="userSettings.emailOffers">
      <label class="form-check-label" for="emailOffers">
        Email Special Offers
      </label>
    </div>
    <div class="btn-group">
        <label for="startDate">Start Date:</label>
      <input type="text"
           placeholder="Start Date"
           class="form-control"
           bsDatepicker
           name="startDate" 
           [(ngModel)]="startDate"
           id="startDate">
    </div>
    <p>{{ startDate }}</p>

    <div class="form-group">
        <label for="startDate">Start Time:</label>
      <timepicker [(ngModel)]="startTime" name="startTime" id="startTime"></timepicker>
    </div>
    <p>{{ startTime }}</p>

    <div class="form-group">
      <rating [(ngModel)]="userRating" [max]="defaultRating" [readonly]="isReadonly"
        name="userRating"
        ></rating>
    </div>
    User Rating: {{ userRating }}

    <p>User Interface Style</p>
    <div class="btn-group">
      <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle"
        btnRadio="Light" tabindex="0" role="button" name="interfaceStyle">Light</label>
      <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle"
        btnRadio="Medium" tabindex="0" role="button" name="interfaceStyle">Medium</label>
      <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle"
        btnRadio="Dark" tabindex="0" role="button" name="interfaceStyle">Dark</label>
    </div>
    <div class="form-group">
      <label for="subscriptionType">Subsciption Type:</label>
      <select class="form-control" id="subscriptionType" name="subscriptionType" [(ngModel)]="userSettings.subscriptionType">
        <option>Monthly</option>
        <option>Annual</option>
        <option>Lifetime</option>
      </select>
    </div>
    <div class="form-group">
      <label for="notes">Note</label>
      <textarea class="form-control" name="notes" id="notes" rows="3" [(ngModel)]="userSettings.notes">></textarea>
    </div>
    <div class="form-group">
      <div class="alert alert-danger" [hidden]="!postError">
        {{ postErrormessage }}
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
  <p>{{ userSettings | json }}</p>
  <p>{{ originalUserSettings | json}}</p>
</div>
